@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Mochiy+Pop+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
body header .continer {
  padding: 1rem 2rem;
}
body header .continer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .continer nav .dark_mode {
  width: 1.25rem;
}
body header .continer nav .dark_mode img {
  width: 100%;
}
body header .continer nav .search_group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}
body header .continer nav .search_group .search {
  width: 1.25rem;
}
body header .continer nav .search_group .search img {
  width: 100%;
}
body header .continer nav .search_group .hamburger {
  width: 1.25rem;
}
body header .continer nav .search_group .hamburger img {
  width: 100%;
}
body #s1 .continer {
  padding: 50px 24px;
}
body #s1 .continer .has button {
  border-radius: 20px;
  background-color: rgb(0, 123, 255);
  color: white;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 500;
}
body #s1 .continer .hero_title {
  padding: 10px 0;
}
body #s1 .continer .hero_title h1 {
  font-size: 2rem;
  line-height: 40px;
  font-weight: bolder;
}
body #s1 .continer .hero_title p {
  padding: 10px 0;
  font-size: 0.95rem;
  font-weight: bolder;
}
body #s1 .continer .star_frame {
  display: flex;
  justify-content: start;
  align-items: center;
}
body #s1 .continer .star_frame .star {
  width: 2rem;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-right: 5px;
}
body #s1 .continer .star_frame .star .star_content img {
  width: 100%;
}
body #s1 .continer .star_frame .star_title h4 {
  color: black;
}
body #s1 .continer .star_frame .star_title p {
  color: gray;
}
body #s1 .continer .star_frame .star_title p span {
  color: black;
  font-weight: 600;
}
body #s1 .continer .video_frame {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}
body #s1 .continer .video_frame .video_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 15rem;
  background: rgb(0, 191, 255);
  background: linear-gradient(175deg, rgb(43, 116, 211) 10%, rgb(29, 163, 253) 30%, rgb(252, 176, 69) 100%);
  border-radius: 10px;
}
body #s1 .continer .video_frame .video_box .play_button {
  color: white;
  width: 4rem;
  height: 4rem;
}
body #s1 .continer .video_frame .video_box .play_button button {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(134, 134, 134, 0.478);
  color: white;
}
@media screen and (min-width: 1920px) {
  body #s1 .continer .video_frame .video_box .video_box {
    width: 70%;
    height: 600px;
    background-color: red;
  }
}
body #s1 .continer .rating {
  width: 4rem;
  height: 15rem;
  background-color: rgb(29, 163, 253);
  border-radius: 10px;
  font-weight: bolder;
}
body #s1 .continer .rating p {
  text-align: center;
  margin-top: 70px;
  color: white;
}
body #s1 .continer .rating .low_persent {
  border-radius: 10px;
  width: 100%;
  height: 5rem;
  background-color: rgb(0, 0, 0);
}
body #s1 .continer .rating .low_persent p {
  color: white;
  text-align: center;
  padding: 40px 1px;
}
body #s1 .button_group .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
body #s1 .button_group .buttons button {
  width: 80%;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-weight: bolder;
}
body #s1 .button_group .buttons .btn2 {
  background-color: rgb(0, 0, 0);
  color: white;
}

/*# sourceMappingURL=style.css.map */
