# Ignore node_modules directory
node_modules/

# Ignore SASS cache files
.sass-cache/

# Ignore compiled CSS files (optional)
*.css
*.css.map

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
